body{
    background: #cccccc;
}
p{
    text-align: center;
}
strong {
color: #000000;
}
H1{
    text-align: center;
}
.imagem-banner{
    text-align: center;
}
.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

h2 {
    text-align: center;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagembeneficios {
    width: 50%;
}